.main_container {
  background-color: #13209e;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__topLine {
    display: flex;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0;
    width: 1399px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    &__score {
      color: white;
      font-weight: bold;
      font-size: 27px;
    }
    &__exit {
      background-color: #5862bf;
      color: white;
      font-weight: bold;
    }
  }
  &__question {
    position: fixed;
    background-color: #3643bd;
    color: white;
    height: 170px;
    width: 800px;
    border: 4px solid gold;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    gap: 20px;
    &__result-true {
      color: black;
      background-color: green;
      font-weight: bold;
    }
    &__result-false {
      color: black;
      background-color: red;
      font-weight: bold;
    }
    &__input-answer {
      background-color: #1c2288;
      border: 2px solid gold;
      color: gold;
      height: 25px;
      width: 265px;
      font-size: 15px;
      border-radius: 10px;
      padding-left: 10px;
    }
    &__button-answer {
      padding: 0;
      margin-left: 5px;
      height: 30px;
      width: 30px;
      font-size: 15px;
      border-radius: 60px;
      background-color: gold;
    }
    &__input-answer::placeholder {
      color: gold;
    }
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  &__game-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 500px;
    padding: 11px;
    border: 15px solid black;
    border-radius: 10px;
    &__header, .table-body {
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 5px;
      &__category {
        background-color: #13209e;
        width: 150px;
        color: gold;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        border-bottom: 2px solid black;
      }
    }
  }
  .table-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    height: 35px;
    width: 40px;
    background-color: #191b64;
    color: gold;
    padding: 10px;
    cursor: pointer;
  }
  .table-cell.answered-correct {
    background-color: #4CAF50;
    text-decoration: line-through;
    color: white;
  }

  .table-cell.answered-wrong {
    background-color: #FF5252;
    text-decoration: line-through;
    color: white;
  }
  .table-cell.active {
    background-color: red;
    color: yellow;
  }
  .table-cell:hover {
    background-color: #1c2288;
  }
  .table-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
}
