#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.main_container {
  height: 812px;
  width: 1440px;
  background-color: #13209e;
  display: flex;
  align-items: center;
  justify-content: center;
  &__startsCard {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 550px;
    width: 550px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #3166e4;
    &__name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      color: white;
      background-color: black;
      font-weight: bold;
      font-size: 25px;
    }
    &__pictureMale {
      margin-top: 40px;
      background-color: white;
      width: 200px;
      height: 200px;
      background-image: url("/Users/a/Desktop/My Projects/Svoya__IGRA/Svoya-Igra-Project/my-react-app/src/assets/mainPicture/male.png");
      background-size: cover;
    }
    &__pictureFemale {
      margin-top: 40px;
      background-color: white;
      width: 200px;
      height: 200px;
      background-image: url("/Users/a/Desktop/My Projects/Svoya__IGRA/Svoya-Igra-Project/my-react-app/src/assets/mainPicture/female.png");
      background-size: cover;
    }
    &__gender {
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      gap: 40px;
      &__male {
        width: 40px;
        height: 40px;
      }
      &__maleActiv{
        background-color: #658ae1;
        width: 40px;
        height: 40px;
      }
      &__female {
        width: 40px;
        height: 40px;
      }
      &__femaleActiv{
        background-color: #658ae1;
        width: 40px;
        height: 40px;
      }
    }
    &__entranceButton {
      background-color: #1344b5;
      color: white;
      border-radius: 5px;
      width: 444px;
      font-weight: bold;
    }
    &__placeName {
      height: 35px;
      width: 425px;
      padding-left: 15px;
      background-color: #191b64;
      border: none;
      border-radius: 5px;
      margin-bottom: 15px;
      caret-color: white;
      font-size: 20px;
      font-weight: bold;
      color: #bfbebe;
      outline: none;
    }
    &__placeName:focus {
      border: 1px solid #bfbebe;
    }
    &__placeName::placeholder {
      color: #bfbebe;
      font-size: 20px;
      font-weight: bold;
      padding-left: 10px;
    }
  }

}